<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845423527552-auqoleb4t4evpgce0kp851ee1dfiluij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845423527552-auqoleb4t4evpgce0kp851ee1dfiluij</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>845423527552-d7426j0lra1r79rur3rre5hbeb2ebqag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2di61FQYB_OcKm6thujNXfP-RxQJ6zKM</string>
	<key>GCM_SENDER_ID</key>
	<string>845423527552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.dswproject</string>
	<key>PROJECT_ID</key>
	<string>uberlikeapp-4d0c3</string>
	<key>STORAGE_BUCKET</key>
	<string>uberlikeapp-4d0c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845423527552:ios:3f8c9dc08b65a25b314865</string>
	<key>DATABASE_URL</key>
	<string>https://uberlikeapp-4d0c3.firebaseio.com</string>
</dict>
</plist>